// .information {
//     display: grid;
//     grid-template-columns: 1fr 1fr;
//     gap: 92px;
//     &__img {
//         width: 100%;
//         background: url('../../img/info_bg.jpg') center right / cover no-repeat;
//     }
//     &__txt {
//         padding: 200px 0 118px;
//         width: 60%;
//         margin-left: auto;
//         p {
//             margin-bottom: 30px;
//         }
//     }
//     &__title {
//         margin-bottom: 100px;
//     }
// }

// .information {
//     padding: 200px 0 118px;
//     background: url('../../img/info_bg.jpg') center right / 50% no-repeat;
//     &__txt {
//         width: 50%;
//         padding-right: 92px;
//         p {
//             margin-bottom: 30px;
//         }
//     }
//     &__title {
//         margin-bottom: 100px;
//     }
// }

.information {
    padding: 200px 0 118px;
    position: relative;
    &__txt {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 92px;
        p {
            margin-bottom: 30px;
        }
    }
    &__title {
        margin-bottom: 100px;
    }
    &__photo {
        position: absolute;
        top: 0;
        right: 0;
        left: auto;
        bottom: 0;
        width: 45%;
        height: 100%;
        background: url('../../img/info_bg.jpg') center right/cover no-repeat;
    }
}